section {
  height: 300px;
  background-color: #f77;
  width: 80%;
  /* font-size: 28px; */
}

.block {
  /* em and rem */
  background-color: #0000ff;
  font-size: 20px;
  width: 40em; /* 40 x 20px */
  /* height: 10em; */
  height: 15rem;
  color: #fff;
}
