/* .block {
  height: 50%;
  background-color: #532d2d;
} */

.block__box-1 {
  width: 400px;
  height: 400px;
  background-color: #00ff00;
  border: 50px solid #ff4;
  padding: 50px;
  padding-bottom: 200px;
  /* box-sizing: content-box; */
  /* box-sizing: border-box; */
  margin: 50px;
}

.block__box-2 {
  width: 400px;
  height: 400px;
  /* border: 50px solid #ff4;
  padding: 50px; */
  background-color:  #8888e4;
  /* box-sizing: border-box; */
}